<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvs.jinmai.ums.mapper.UmsMemberMapper">

    <select id="selectAll" resultType="com.mvs.jinmai.entity.UmsMember">
        SELECT * FROM ums_member
    </select>
    <select id="selectByUsername" parameterType="com.mvs.jinmai.entity.UmsMember" resultType="com.mvs.jinmai.entity.UmsMember">
        SELECT * FROM ums_member WHERE username = #{username}
    </select>
</mapper>
